/all_mooring_only_lat_lng.json
/df_for_clustering_mooring.json
/hdbscan_30mcs_1ms_mooring_polygons.json
/hdbscan_30mcs_30ms_mooring_polygons.json
/hdbscan_30mcs_5ms_mooring_polygons.json
/new_ports_candidates.html
/new_polygons_candidates.json
/all_mooring.json
/all_anchoring.json
/shoreline_layer.geojson
/ports.json
/comparing_polygons.html
/final_ports_candidates.html
