/all_activities.csv.gz
/all_mooring.csv
/all_mooring_only_lat_lng.csv
/df_for_clustering_mooring.csv
/ww_ports.csv
/hdbscan_30mcs_5ms_mooring_polygons_with_distance.geojson
/new_ports.json
/hdbscan_30mcs_5ms_mooring_alpha_shape_polygons_with_distance.geojson
/hdbscan_30mcs_5ms_mooring_alpha_shape_polygons.geojson
/hdbscan_30mcs_5ms_mooring_alpha_shape_polygons_with_euclidean_distance.geojson
/new_polygons_candidates_ver2.json
/new_ports_ver2.json
/new_ports_final.geojson
/locations.csv
